/**
 * ax9clean
 *
 * Derived from Hubzilla main theme
 * Originally by Fabio Comuni <fabrix.xm@gmail.com>
 */

/* generals */
html {
    font-size: $ font_size;
}

body {
    background-color: #eee;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

body > * {
    flex: 1 1 auto;
    display: block;
    position: relative;
}

main {
    overflow: auto;
}

footer {
    bottom: 0px;
    text-align: center;
    padding: 0.25rem;
    background-color: #3A87AD;
    color: white;
}
footer div {
    display: flex;
    justify-content: space-around;
    justify-content: space-evenly;
}
footer a, footer a:hover, footer a:focus {
    display: inline-flex;
    color: white;
}

aside {
    width: 258px;
    min-width: 258px;
    max-width: 258px;
}

/* remove borders, change colors */
body .bg-primary {
    background-color: #3A87AD !important;
}

.generic-content-wrapper {
    border: none;
}

.section-title-wrapper,
.section-subtitle-wrapper,
.section-content-info-wrapper {
    border-bottom-color: #3A87AD;
}

.section-content-info-wrapper {
    background: #3A87AD;
    color: white;
}

.wall-item-content-wrapper,
.wall-item-head-new {
    border-color: #3A87AD;
    border-radius: 0px;
    background-color: #fefefe;
}

.rounded-top {
    border-radius: 0px !important;
}

.widget {
    padding: 0px;
    border-radius: 0px;
    border: none;
    background-color: #eee;
    /*
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
    */
}

.widget h3 {
    padding: 0.5rem 1rem;
    background-color: #fff;
}

.btn, .form-control, .nav-pills .nav-link, .nav-tabs .nav-link,
.generic-content-wrapper,
.vcard,
.photo, .contact-block-img,
#profile-photo-wrapper,
#profile-jot-wrapper,
#avatar,
.wall-item-photo {
    border-radius: 0px;
}

.generic-content-wrapper,
#profile-jot-wrapper,
.btn {
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
}

.btn-group > .btn {
    box-shadow: none;
}

.btn-primary {
    background-color: #3A87AD;
    border-color: #3A87AD;
}

.btn-success {
    background-color: mediumseagreen;
    border-color: mediumseagreen;
}

.btn-danger {
    background-color: #8b0000;
    border-color: #8b0000;
}

.form-group.checkbox > label {
    cursor: pointer;
}

.form-group.checkbox > div > input:checked + label .onoffswitch-switch,
.dropdown-item.active {
    background-color: #3A87AD;
}

.form-group.checkbox:hover > div label {
    border-color: #3A87AD;
}

.form-group.checkbox:hover label {
    color: #3A87AD;
}

a, a:hover, a:focus, .fakelink, .fakelink:hover, .fakelink:focus {
    /*normal link */
    color: #3A87AD;
}

a:hover {
    /*normal link */
    color: #31708f;
}

.section-content-info-wrapper a {
    color: #FF9696
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    /*inverted link*/
    background-color: #3A87AD;
}

.vcard {
    padding: 0px;
    background-color: inherit;
    border: none;
}

#contact-block h3 {
    margin: auto -0rem;
}

.cloud-container {
    padding: 5px;
    text-align: center;
    border: 1px solid #aaaaaa;
}

.cloud-icon.tiles {
}

@media screen and (max-width: 992px) {

    main {
        left: -258px;
        width: calc(100% + 258px);
    }

    main.region_1-on {
        left: 0;
    }
}